.product{
    border: 1px solid rgb(162, 161, 161);
    width: 250px;
    height: 510px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
.product img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.btn-cart{
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    width: 260px;
    left: 0;
}
.btn-cart:hover{
    background-color: orange;
}